[submodule "MentalHealthCareApp_AdminDashboard"]
	path = MentalHealthCareApp_AdminDashboard
	url = https://github.com/mohamedaminehamdi/HealthCareApp.git
[submodule "MentalHealthCareForum"]
	path = MentalHealthCareForum
	url = https://github.com/mohamedaminehamdi/MentalHealthCareForum.git
