[submodule "MentalHealthCareApp_AdminDashboard"]
	path = MentalHealthCareApp_AdminDashboard
	url = https://github.com/mohamedaminehamdi/HealthCareApp.git
[submodule "MentalHealthCareForum"]
	path = MentalHealthCareForum
	url = https://github.com/mohamedaminehamdi/MentalHealthCareForum.git
[submodule "TherapyAI-front"]
	path = TherapyAI-front
	url = https://github.com/tarek-gritli/TherapyAI-front.git
[submodule "twisechallenge"]
	path = twisechallenge
	url = https://github.com/skan45/twisechallenge.git
[submodule "TherapyAi_LandingPage"]
	path = TherapyAi_LandingPage
	url = https://github.com/mohamedaminehamdi/LandingPage.git
